
.alert-container {
  position: absolute;
  z-index:100;

  .alert {
    margin-top: 20px;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    .alert {
      width: 448px;
    }
  }
}