<div class="page-header">
  <h4>Apartment List</h4>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="form-inline">

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="filter.name"
               (ngModelChange)="filterChanged()"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Street" [(ngModel)]="filter.street"
               (ngModelChange)="filterChanged()"/>
      </div>

      <div class="form-group">
        <a href="#" class="btn btn-primary" (click)="onClickAdd()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>
      </div>

    </div>

  </div>
  <div class="table-responsive">
    <table *ngIf="list.length > 0" class="table table-hover">
      <thead>
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of list">
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="text-center" *ngIf="loading"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></div>